@charset "utf-8";
/* mobile none */
.mob__hamb,
.mob__bannertext,
.mob__slide {
    display: none;
}
.mob__menu-wrap {
    opacity: 0;
    visibility: hidden;
    display: none;
}
/* header */
.header-wrap {
    width: 100%;
    height: 80px;
    background: #000;
    padding: 0 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9999;
}
.head-l {
    display: flex;
    align-items: center;
}
.header-wrap .logo {
    width: 147px;
    height: 46px;
}
.header-wrap .menu {
    margin-left: 40px;
    color: #f3f3f3;
    display: flex;
    position: relative;
}
.header-wrap .menu > li {
    padding: 0 40px;
    position: relative;
}
.header-wrap .menu > li:last-child {
    margin-right: 0px;
}
.header-wrap .menu li a {
    line-height: 80px;
    font-size: 1.1rem;
    font-weight: bold;
    /* font-size: 1.25rem; */
}
.header-wrap .menu > li:hover .submenu {
    z-index: 99;
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}
.header-wrap .menu > li > a:hover {
    color: #E54132;
}
.header-wrap .menu .submenu {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    /* height == submenu__bg */
    height: 400px;
    text-align: center;
    transform: translateY(-20px);
    transition: all 0.3s;
    z-index: 9;
    position: absolute;
    top: 100%;
    left: 0;
}
.header-wrap .menu .submenu:hover {
    background: #454545;
}
.header-wrap .menu .submenu li a:hover {
    background: #f3f3f3;
    color: #000;
}
.language {
    color: #f3f3f3;
    font-weight: bold;
    display: flex;
}
.language a:first-child {
    margin-right: 10px;
}
.submenu__bg {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 400px;
    background: #000;
    transform: translateY(-20px);
    transition: all 0.3s;
    z-index: 999;
    position: absolute;
    top: 80px;
}
.submenu__bg.active {
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
}
/* main */
.main {
    background: #000;

}
/* main sec1 */
.sec1 {
    position: relative;
}
.squ-wrap {
    pointer-events: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 99;
    position: absolute;
    top: 0;
}
@keyframes squMove {
    from {opacity: 0; transform: translateX(200px);}
    to {opacity: 1; transform: translateX(0);}
}
.squ {
    opacity: 0;
    width: 10vw;
    height: calc((100% / 13) * 1);
    border: 2px solid #000;
    background: #f3f3f3;
    box-sizing: border-box;
    position: absolute;
    right: -2px;
    bottom: calc(((100% / 13) * 12) - (2px * 5));
    animation: squMove;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
}
.squ.col {
    background: #E54132;
}
.squ p {
    font-weight: bold;
    font-size: 2.25rem;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.squ:nth-child(1) {
    width: 15vw;
    height: calc((100% / 13) * 2);
    right: -2px;
    animation-delay: 0.8s;
}
.squ:nth-child(2) {
    width: 28vw;
    bottom: calc(((100% / 13) * 11) - (2px * 4));
    right: -2px;
    animation-delay: 1s;
}
.squ:nth-child(3) {
    width: 21vw;
    height: calc((100% / 13) * 2);
    bottom: calc(((100% / 13) * 9) - (2px * 3));
    right: -2px;
    animation-delay: 1.2s;
}
.squ:nth-child(4) {
    width: 40vw;
    height: calc((100% / 13) * 4);
    bottom: calc(((100% / 13) * 5) - (2px * 2));
    right: -2px;
    animation-delay: 1.4s;
}
.squ:nth-child(5) {
    width: 22vw;
    height: calc((100% / 13) * 2);
    bottom: calc(((100% / 13) * 5) - (2px * 2));
    right: -2px;
    animation-delay: 1.6s;
}
.squ:nth-child(6) {
    width: 26vw;
    height: calc((100% / 13) * 1);
    bottom: calc(((100% / 13) * 5) - (2px * 2));
    right: 20vw;
    animation-delay: 1.8s;
}
.squ:nth-child(7) {
    width: 12vw;
    height: calc((100% / 13) * 1);
    bottom: calc(((100% / 13) * 6) - (2px * 3));
    right:32vw;
    animation-delay: 2s;
}
.squ:nth-child(8) {
    width: 55vw;
    height: calc((100% / 13) * 4);
    bottom: calc(((100% / 13) * 1) - (2px * 1));
    right: -2px;
    animation-delay: 1.6s;
}
.squ:nth-child(9) {
    width: 18vw;
    height: calc((100% / 13) * 2);
    bottom: calc(((100% / 13) * 1) - (2px * 1));
    right: 47vw;
    animation-delay: 1.8s;
}
.squ:nth-child(10) {
    width: 23vw;
    height: calc((100% / 13) * 2);
    bottom: calc(((100% / 13) * 0));
    right: -2px;
    animation-delay: 2s;
}
.squ:nth-child(11) {
    width: 27vw;
    height: calc((100% / 13) * 1);
    bottom: calc(((100% / 13) * 0));
    right: 19vw;
    animation-delay: 2.2s;
}
.squ:nth-child(12) {
    width: 8vw;
    height: calc((100% / 13) * 1);
    bottom: calc(((100% / 13) * 0));
    right: calc(46vw - 2px);
    animation-delay: 2.4s;
}
.squ:nth-child(13) {
    width: 30vw;
    height: calc((100% / 13) * 1);
    bottom: calc(((100% / 13) * 0));
    right: calc(54vw - 4px);
    animation-delay: 2.6s;
}
@keyframes alphaMove {
    0% {opacity: 0; transform: translateX(-100px);}
    100% {opacity: 1; transform: translateX(0px);}
}
.alpha {
    opacity: 0;
    font-size: 400px;
    font-weight: bold;
    position: absolute;
    animation: alphaMove;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
.alpha:nth-child(14) {
    bottom: -98px;
    right: 34vw;
    animation-delay: 2.3s;
}
.alpha:nth-child(15) {
    bottom: -98px;
    right: 16vw;
    animation-delay: 2.6s;
}
.alpha:nth-child(16) {
    bottom: -98px;
    right: 0vw;
    animation-delay: 2.9s;
}
.squ-wrap .txt-wrap {
    position: absolute;
    top: 400px;
    left: 30px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}
@keyframes squtxtMove {
    from {opacity: 0; transform: translateY(40px)}
    to {opacity: 1; transform: translateY(0)}
}
.squ-wrap .txt-wrap p,
.squ-wrap .txt-wrap p span,
.squ-wrap .txt-wrap span {
    opacity: 0;
    color: #f3f3f3;
    animation: squtxtMove;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
.squ-wrap .txt-wrap p {
    font-size: 8rem;
    font-weight: bold;
}
.squ-wrap .txt-wrap p span {
    display: inline;
    font-size : 4rem;
    font-weight: bold;
}
.squ-wrap .txt-wrap > span {
    animation-delay: 0.2s;
    display: block;
    margin-top: -15px;
    margin-left: 8px;
    font-size: 2.75rem;
}
/* @keyframes squRotate {
    0% {opacity: 0; transform: rotateZ(0)}
    100% {transform: rotateZ(360deg)}
}

@keyframes squRotate2 {
    0% {opacity: 0; transform: rotateZ(0)}
    100% {transform: rotateZ(-360deg)}
}
.rotate__squ {
    border: 2px solid #f3f3f3;
    background: transparent;
    position: absolute;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    z-index: -9;
}
.rotate__squ:nth-child(18) {
    opacity: 0;
    width: 150px;
    height: 150px;
    left: 42%;
    animation-delay: 0.2s;
    animation-name: squRotate2;
    animation-duration: 27s;
}
.rotate__squ:nth-child(19) {
    opacity: 0;
    animation-name: squRotate;
    animation-duration: 30s;
    animation-delay: 0.4s;
    width: 300px;
    height: 300px;
    left:50%;
    top: -2%;
}
.rotate__squ:nth-child(20) {
    opacity: 0;
    width: 380px;
    height: 380px;
    left: -10px;
    bottom: -100px;
    animation-delay: 0.6s;
    animation-name: squRotate;
    animation-duration: 34s;
} */
/* main sec2 */
.sec2 {
    height: 3000px;
    overflow: hidden;
    position: relative;
}
.sec2-container {
    height: 100vh;
    display: flex;
    align-items: center;
}
.sec2-container .intro-txt {
    color: #f3f3f3;
    margin: 0 100px;
}
.sec2-container .intro-txt p {
    margin-bottom: 100px;
    font-size: 6rem;
    font-weight: bold;
    white-space: nowrap;
}
.sec2-container .intro-txt p:last-child {
    margin-bottom: 0;
}
.sec2-container .intro-txt p span {
    font-size: 2rem;
    white-space: nowrap;
}
/* main sec2 accordion */
.accordion__arangement-wrap {
    height: calc(100% - 40px);
}
.accordion {
    width: 1380px;
    height: 100%;
    display: flex;
}
.accordion li {
    flex-basis: 120px;
    flex-shrink: 0;
    height: 100%;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
    display: flex;
    align-items: end;
    cursor: pointer;
    transition: all 0.5s;
}
.accordion li p {
    word-break: break-all;
}
.accordion li:nth-child(1) {
    background-image: url(../img/accordion-1-gs.jpg);
}
.accordion li:nth-child(2) {
    background-image: url(../img/accordion-2-gs.jpg);
}
.accordion li:nth-child(3) {
    background-image: url(../img/accordion-3-gs.jpg);
}
.accordion li:nth-child(4) {
    background-image: url(../img/accordion-4-gs.jpg);
}
.accordion li:nth-child(5) {
    background-image: url(../img/accordion-5-gs.jpg);
}
.accordion li:nth-child(6) {
    background-image: url(../img/accordion-6-gs.jpg);
}
.accordion li:nth-child(1).active {
    background-image: url(../img/accordion-1.jpg);
    flex-grow: 1;
}
.accordion li:nth-child(2).active {
    background-image: url(../img/accordion-2.jpg);
    flex-grow: 1;
}
.accordion li:nth-child(3).active {
    background-image: url(../img/accordion-3.jpg);
    flex-grow: 1;
}
.accordion li:nth-child(4).active {
    background-image: url(../img/accordion-4.jpg);
    flex-grow: 1;
}
.accordion li:nth-child(5).active {
    background-image: url(../img/accordion-5.jpg);
    flex-grow: 1;
}
.accordion li:nth-child(6).active {
    background-image: url(../img/accordion-6.jpg);
    flex-grow: 1;
}
.accordion li.active {
    width: 680px;
}
.accordion li:last-child {
    margin-right: 0;
}
.accordion li p {
    color: #f3f3f3;
    font-weight: bold;
    font-size: 1.5rem;
}
/* main sec2 artist */
.artist__arangement-wrap {
    margin-left: 100px;
}
.artist__arangement-wrap > p {
    font-size: 1.75rem;
    font-weight: bold;
    color: #f3f3f3;
    margin-bottom: 20px;
}
.artist-wrap {
    display: flex;
}
.artist {
    display: flex;
    flex-wrap: wrap;
    width: calc((300px * 4) + (20px * 4));
}
.artist li {
    overflow: hidden;
    width: 300px;
    height: 300px;
    background: #f3f3f3;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.artist li > img {
    transition: all 0.3s;
}

/* .artist li:nth-child(1) {
    background-image: url(../img/artist-1.jpg);
}
.artist li:nth-child(2) {
    background-image: url(../img/artist-2.jpg);
}
.artist li:nth-child(3) {
    background-image: url(../img/artist-3.jpg);
}
.artist li:nth-child(4) {
    background-image: url(../img/artist-4.jpg);
}
.artist li:nth-child(5) {
    background-image: url(../img/artist-5.jpg);
}
.artist li:nth-child(6) {
    background-image: url(../img/artist-6.jpg);
}
.artist li:nth-child(7) {
    background-image: url(../img/artist-7.jpg);
}
.artist li:nth-child(8) {
    background-image: url(../img/artist-8.jpg);
} */
.artist__info {
    opacity: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
    color: #f3f3f3;
    z-index: 99;
}
.artist__info .txt-wrap {
    margin-left: 10px;
}
.artist__info .txt-wrap p {
    font-weight: bold;
    font-size: 2.25rem;
}
.artist__info .txt-wrap span {
}
.artist__info .icon-wrap {
    margin-right: 10px;
    display: flex;
}
.artist__info .icon-wrap a {
    width: 24px;
    height: 24px;
}
.artist__info .icon-wrap a:first-child {
    margin-right: 5px;
}
.artist > li::after {
    opacity: 0;
    content: "";
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
    position: absolute;
    top:0;
    left:0;
}
.artist li:hover > img {
    transform: scale(1.1);
}
.artist li:hover .artist__info {
    opacity: 1;
}
.artist li:hover::after {
    opacity: 1;
}
.additional__more {
    height: calc((300px * 2) + 20px);
    border: 2px solid #f3f3f3;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #f3f3f3;
    overflow: hidden;
    transition: all 0.8s;
    position: relative;
}
.additional__effect {
    width: 200px;
    height: 100%;
    position: absolute;
    left: -200px;
    background: #f3f3f3;
    transition: all 0.8s;
}
.additional__more:hover {
    color: #000;
}
.additional__more:hover .additional__effect {
    left: 0;
}
.additional__more p {
    font-weight: bold;
    padding: 0 10px;
    z-index: 9;
}
/* main sec2 history */
.history {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 300px;
}
.history p {
    font-size: 10rem;
    font-weight: bold;
    color: #000;
    text-shadow: -1px 0 #f3f3f3, 0 1px #f3f3f3, 1px 0 #f3f3f3, 0 -1px #f3f3f3;
}
.history ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.history ul li {
    color: #f3f3f3;
    font-size: 1.5rem;
    margin-bottom: 10px;
    transition: all 0.3s;
    cursor: pointer;
    /* font-weight: bold; */
}
.history ul li:hover {
    text-decoration: underline;
}
/* main sec3 */
.sec3 {
    margin-bottom: 100px;
}
.sec3-inner {
    width: 1400px;
    margin: 0 auto;
}
.cb__title {
    font-size: 6rem;
    font-weight: bold;
    color: #f3f3f3;
    text-align: center;
    margin-bottom: 60px;
}
.cb__title p span {
    color: #E54132;
}
.video-wrap {
    display: flex;
    border-bottom: 2px solid #f3f3f3;
}
.mainvideo-wrap {
    width: 1040px;
    margin-right: 20px;
}
.mainvideo {
    width: 100%;
    background: #f3f3f3;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
}
.mainvideo .play__btn {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/play-btn.png);
    background-size: 30px 30px;
    background-position: 28px;
    background-repeat: no-repeat;
}
.mainvideo__txt {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #f3f3f3;
}
.mt-l p {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 5px;
}
.mt-l span {
    font-size: 1rem;
}
.video__more {
    width: 340px;
}
.video__more ul {
    width: 100%;
}
.video__more ul li {
    width: 100%;
    background: #f3f3f3;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.video__more ul li a {
    width: 100%;
    height: 100%;
}
/* main sec4 */
.audition {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 100px;
}
.audition__box {
    width: 50%;
    position: relative;
}
.audition__box:nth-child(1) {
    background: #f3f3f3;
    color: #000;
}
.audition__box:nth-child(2) {
    background: #E54132;
    color: #f3f3f3;
}
.audition-inner {
    position: absolute;
    height: 663px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.audition-inner p {
    font-size: 4rem;
    font-weight: bold;
    white-space: nowrap;
    clear: both;
}
.audition-inner p span {
    font-size: 1.25rem;
}
.audition-inner p,
.audition-inner > span {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s;
}
.audition-inner > span {
    white-space: nowrap;
    display: block
}
.audition__line {
    width: 2px;
    height: 0vh;
    background: #f3f3f3;
    transition: all 1s;
}
.audition__box:nth-child(1) .audition__line {
    background: #000;
    margin-top: 10px;
}
.audition__box:nth-child(2) .audition__line {
    background: #f3f3f3;
    margin-bottom: 10px;
    float: right;
}
.audition__middle {
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}
.audition__middle .title {
    font-weight: bold;
    font-size: 2.25rem;
    margin-bottom: 40px;
}
.audition__middle .title span:nth-child(1) {
    color: #000;
}
.audition__middle .title span:nth-child(2) {
    color: #f3f3f3;
}
.category {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category a {
    width: 170px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 30px;
    background: #000;
    color: #f3f3f3;
    margin-bottom: 40px;
    transition: all 0.3s;
}
.category a:hover {
    background: #f3f3f3;
    color: #000;
}
.category a:last-child {
    margin-bottom: 0;
}
/* sec5 */
.sec5 {
    padding-bottom: 100px;
}
.prcenter {
    width: 1400px;
    margin: 0 auto;
}
.pr__tab {
    margin-bottom: 20px;
}
.pr__tab .tab {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    border: 2px solid #3f3f3f;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: #666;
    background: #252525;
    cursor: pointer;
    transition: all 0.3s;
}
.pr__tab  .tab:hover {
    color: #f3f3f3;
}
.pr__tab .tab.active:hover {
    color: #000;
}
.pr__tab .tab.active {
    color: #000;
    background: #f3f3f3;
    border: 2px solid #f3f3f3;
}
.pr {
    display: flex;
    flex-wrap: wrap;
}
.pr-l {
    width: 740px;
    margin-right: 20px;
}
.pr__content-wrap {
    width: 100%;
    height: 580px;
    border: 2px solid #3f3f3f;
    padding: 20px;
    box-sizing: border-box;
    background: #252525;
}
.pr__content {
    display: none;
}
.pr__content.active {
    display: block;
}
.pr__content ul {
    width: 100%;
    height: calc((580px - 40px) / 7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #f3f3f3;;
}
.pr__content ul li {
    color: #f3f3f3;
}
.pr__content a:hover > ul > li p {
    text-decoration: underline;
}
.pr-r {
    width: 640px;
}
.video__prom {
    width: 100%;
    height: 220px;
    background: #252525;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #3f3f3f;
    display: flex;
    align-items: center;
    position: relative;
}
.video__prom .img__box {
    width: 300px;
    height: 180px;
    background: #f3f3f3;
    margin-right: 10px;
}
.video__prom .txt__box .on__middle {
    color: #f3f3f3;
}
.video__prom .txt__box .on__middle p {
    font-weight: bold;
    font-size: 1.25rem;
}
.video__prom .on__bottom {
    color: #f3f3f3;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 0.75rem;
}
.store {
    width: 100%;
    height: 340px;
    box-sizing: border-box;
    border: 2px solid #3f3f3f;
    position: relative;
}
.store .inner__box {
    transform: translateY(-50%);
    color: #f3f3f3;
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 20px;
}
.store::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    top: 0;
    left: 0;
    
}
.store .inner__box > p {
    font-size: 3.75rem;
    font-weight: bold;
}
.store .inner__box p span {
    font-size: 1.75rem;
}
.store .inner__box > span {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 20px;
    display: block;
}
.store .inner__box > div {
    width: 220px;
    height: 80px;
    line-height: 76px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
/* .store .inner__box div::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #f3f3f3;
    padding: 10px 0;
    position: absolute;
    left: -100%;
    top: 0;
    transition: all 0.3s;
} */
.store:hover .inner__box div p {
    color: #000;
    box-sizing: border-box;
}
.store:hover .inner__box > div > p ~ div {
    left: 0;
}
.store .inner__box div p {
    width: 100%;
    border: 2px solid #f3f3f3;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    text-align: center;
    z-index: 99;
    transition: all 0.3s;
}
.store .inner__box div p ~ div {
    width: 100%;
    height: 100%;
    background: #f3f3f3;
    position: absolute;
    left: -100%;
    top: 0;
    transition: all 0.3s;
}
/* footer */
footer {
    background: #121212;
    padding: 100px 0;
}
footer .inner {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .inner .txt__box {
    color: #f3f3f3;
}
.address,
.tel {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.address strong,
.tel strong,
.address span,
.tel span {
    font-weight: bold;
    margin-right: 20px;
}
.address p,
.tel p {
    font-size: 1.75rem;
    font-weight: bold;
}
.tel p {
    margin-right: 40px;
}
.tel ~ span {
    font-size: 0.875rem;
}
footer .inner .logo {
    width: 147px;
    height: 46px;
    background-image: url(../img/logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media screen and (max-width: 1400px) {
    /* sec3 */
    .sec3-inner {
        width: calc(100% - 40px);
    }
    .mainvideo-wrap {
        width: calc(78% - 10px);
        margin-right: 10px
    }
    .video__more {
        width: 22%;
    }
    /* sec5 */
    .prcenter {
        width: calc(100% - 40px);
    }
    .pr-l {
        width: calc(60% - 10px);
        margin-right: 10px;
        
    }
    .pr-r {
        width: 40%;
    }
    /* footer */
    footer .inner {
        width: calc(100% - 40px);
    }
}
@media screen and (max-width: 1200px) {
    /* sec2 */
    .sec2 {
        height: unset;
    }
    .sec2-container {
        height: auto;
        flex-direction: column;
    }
    .intro-txt,
    .accordion__arangement-wrap,
    .artist__arangement-wrap,
    .history__arrangement-wrap {
        width: calc(100% - 40px);
        padding: 60px 0;
    }
    .artist__arangement-wrap {
        margin: 0;
    }
    .sec2-container .intro-txt p {
        text-align: center;
    }
    .accordion {
        width: 100%;
        /* flex-direction: column; */
        display: block;
    }
    .accordion li {
        width: 100%;
        justify-content: center;
        margin: 20px 0;
    }
    .accordion li p {
        padding: 20px 0;
    }
    .accordion li.active {
        width: 100%;
    }
    .artist__arangement-wrap > p {
        text-align: center;
    }
    .artist-wrap {
        flex-direction: column;
        align-items: center;
    }
    .artist {
        width: 100%;
        justify-content: center;
    }
    .artist li {
        margin: 10px;
    }
    .additional__more {
        display: block;
        width: 620px;
        height: unset;
    }
    .additional__more:hover {
        color: #f3f3f3;
    }
    .additional__effect {
        display: none;
    }
    .additional__more p {
        text-align: center;
        padding: 20px 0;
    }
    .history {
        display: none;
    }
}
@media screen and (max-width: 1040px) {
    /* header */
    .header-wrap {
        height: 50px;
        padding: 0 20px;
    }
    .header-wrap .logo {
        width: 100px;
        height: 33px;
    }
    .header-wrap .menu,
    .language, 
    .squ-wrap {
        display: none;
    }
    .mob__hamb {
        display: block;
        width: 26px;
        height: 19px;
        cursor: pointer;
    }
    .mob__hamb span {
        display: block;
        width: 100%;
        height: 3px;
        border-radius: 1.5px;
        background: #f3f3f3;
        margin-bottom: 5px;
    }
    .mob__menu-wrap {
        display: block;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: -20px;
        left: 0;
        z-index: 99999;
        transition: all 0.3s;
    }
    .mob__menu {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
        background: #000;
    }
    .mob__menu .t {
        display: flex;
        justify-content: space-between;
    }
    .mob__menu .t .logo {
        width: 100px;
        height: 33px;
    }
    .mob__menu .t .btn__x {
        width: 26px;
        height: 26px;
        position: relative;
        cursor: pointer;
    }

    .mob__menu .t .btn__x span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 26px;
        height: 3px;
        background: #f3f3f3;
        border-radius: 1.5px;
    }
    .mob__menu .t .btn__x span:nth-child(1) {
        transform: translate(-50%, -50%) rotateZ(-45deg);
    }
    .mob__menu .t .btn__x span:nth-child(2) {
        transform: translate(-50%, -50%) rotateZ(45deg);
    }
    .mob__menu .m {
        height: calc(100% - 26px - 20px);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .mob__menu .m > a {
        color: #f3f3f3;
        font-weight: bold;
        font-size: 2.25rem;
    }
    .mob__menu .m > div > a {
        font-size: 1.1rem;
        font-weight: bold;
        color: #f3f3f3;
        margin: 15px 0;
    }
    .mob__menu .b p {
        color: #f3f3f3;
        font-size: 12px;
    }
    /* sec1 */
    .banner {
        box-sizing: border-box;
        border: 30px solid #f3f3f3;
    }
    .swiper-pagination,
    .com__slide,
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
    .mob__slide {
        display: block;
    }
    .mob__bannertext {
        display: block;
        position: absolute;
        bottom: -15px;
        right: 10px;
        z-index: 9999;
    }
    .mob__bannertext span {
        margin-left: 8px;
        display: block;
        color: #f3f3f3;
        font-weight: bold;
        font-size: 1.25rem;
    }
    .mob__bannertext p {
        margin-top: -15px;
        font-weight: bold;
        color: #E54132;
        font-size: 7rem;
        letter-spacing: -4px;
    }
    /* sec3 */
    .video-wrap {
        display: block;
    }
    .mainvideo-wrap,
    .video__more {
        width: 100%;
    }

    .video__more ul {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .video__more ul li {
        width: calc(50% - 5px);
        margin-bottom: 10px;
    }
    .video__more ul li:nth-child(odd) {
        margin-right: 10px;
    }
    /* sec5 */
    .pr-l, .pr-r {
        width: 100%;
        margin: 0;
    }
    .pr__content-wrap {
        margin-bottom: 20px;
    }

    /* footer */
    footer .logo {
        display: none;
    }
}
@media screen and (max-width: 760px) {
    /* sec3 */
    .mt-r p {
        text-align: right;
    }
    /* sec4 */
    .audition__box {
        width: 100%;
    }
    .audition-inner {
        height: auto;
    }
    .audition__line {
        display: none;
    }
    .audition__middle .title {
        display: none;
    }
    .category {
        width: 100vw;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .category a {
        width: 120px;
        height: 50px;
        line-height: 50px;
        font-size: 1.25rem;
        margin: 0 5px;
    }
    /* footer */
    .address p, .tel p {
        font-size: 1rem;
    }

    @media screen and (max-width: 696px) {
        .additional__more {
            width: 300px;
        }
        html {
            font-size: 14px;
        }
    }
    @media screen and (max-width: 400px) {
        html {
            font-size: 12px;
        }
    }
}